# app/assets/stylesheets/application.css
/*= require_tree . */
/*= require_self */

/* app/assets/stylesheets/application.css */
@import "vendor/bootstrap.min.css";

/* your overrides below */
:root { --bs-body-font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif; }

/* util width + map height */
.w-32px { width: 32px; }
#locations-map.map-frame { height: 540px; }
